@import 'tailwindcss';

@theme {
  --color-black: black;
  --shadow-products: 0px 0px 4px 4px rgb(0 0 0 / 0.05);
  --my-height-product: calc(100vh - 50px);
  --my-max-width: 80%;
  --color-white: white;
  --color-mustard: #d4af37;
  --color-light-gray: #e0e0e0;
  --color-dark-gray: #1a1a1a;
}

@layer components {
  nav {
    @apply bg-white px-[20px] h-[48px] w-full justify-between items-center shadow-md z-0 font-sans;
  }

  .product-list {
    @apply max-w-[80%] h-(--my-height-product) gap-6 grid grid-cols-[repeat(auto-fill,_minmax(_200px,_1fr))] mx-auto top-[80px] relative justify-center items-center font-sans;
  }

  .font-weight {
    @apply font-bold;
  }

  .btn-disabled {
    @apply cursor-not-allowed opacity-50;
  }

  .checkout-elements {
    @apply w-[100%] grid grid-cols-[50px_100px_60%_70px_15px] gap-8 h-[100px] mb-[34px] items-center justify-start;
  }

  .total-checkout {
    @apply w-[100%] fixed right-0 left-0 bottom-0 bg-white flex h-[200px] justify-items-center items-center;
  }
}
