@import 'tailwindcss';

@theme {
  --color-black: black;
  --shadow-products: 0px 0px 4px 4px rgb(0 0 0 / 0.05);
  --my-height-product: calc(100vh - 50px);
  --my-max-width: 80%;
  --color-white: white;
  --color-mustard: #D4AF37;
  --color-light-gray: #E0E0E0;
  --color-dark-gray: #1A1A1A;
}

@layer components {
  nav {
    @apply bg-white px-[20px] h-[48px] w-full justify-between items-center shadow-md z-0 font-sans;
  }

  .product-list {
    @apply max-w-[80%] h-(--my-height-product) gap-6 grid grid-cols-[repeat(auto-fill,_minmax(_200px,_1fr))] mx-auto mt-[20px] justify-center items-center font-sans;
  }

  .font-weight {
    @apply font-bold;
  }
}
